main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputFilter {
    padding: 10px;
}

#botaoFilter {
    padding: 10px;
    background-color: rgb(75, 75, 214);
}

table, tr, td {
    
}